* {
    margin: 0;
    padding: 0;
    font-weight: 100;
    zoom: 88%;
    font-family: Ubuntu;
    outline: none;
}

@font-face {
    font-family: Ubuntu; /* Имя шрифта */
    src: url(font/Ubuntu-L.ttf); /* Путь к файлу со шрифтом */
}

body {
    width: 1000px;
    margin: auto;
}

.clearfix {
    content: "";
    display: block;
    clear: both;
}

.blue-color-span {
    letter-spacing: 5px;
    color: #0da5f3;
}

.obliterated-text {
    font-size: 1.5em;
    text-decoration: line-through;
}

.normal-text {
    font-size: 1.5em;
}

.p-center {
    text-align: center;
}

.horizontal-line {
    border: none; /* Убираем границу для браузера Firefox */
    color: #0da5f3; /* Цвет линии для остальных браузеров */
    background-color: #0da5f3; /* Цвет линии для браузера Firefox и Opera */
    height: 1px;
}

/*--------------Работа с Header-------------*/
.header-container {
    display: block;
    margin: auto;
    width: 100%;
    height: 100px;
    text-shadow: 1px 1px 1px black, 0 0 1em gray;
}

.header-container__menu {
    margin: 0;
    padding: 30px;
}

.header-container__menu__item {
    display: block;
    float: left;
}

.header-container-link {
    color: black;
    text-decoration: none;
    margin: auto;
    font-size: 4em;
    margin-left: 60px;
}
.logo-link {
    margin-left: 0;
    letter-spacing: 5px;
    color: #0da5f3;
}

.header-container-link:hover {
    color: #0da5f3;
}

.calendar-visible {
    visibility: visible;
    margin-left: 60px;
}
.calendar-hidden {
    visibility: hidden;
}

.log-reg-item {
    color: #0da5f3;
    float: right;
}
.log-reg-item:hover {
    color: black;
}

/*--------------Работа с контентом--------------*/
.main-container {
    height: 350px;
    display: block;
}

.main-container-fieldset {
    margin: 10px auto;
    width: 80%;
    border: none;
}

.sub-page {
    width: 90%;
}

.main-container-fieldset__text-h1 {
    line-height: 300px;
    font-size: 7em;
    text-align: center;
    text-shadow: 1px 1px 1px black, 0 0 1em gray;
}

.main-container-fieldset__text-h2 {
    line-height: 100px;
    font-size: 3.5em;
    text-align: center;

}

.main-container-fieldset__text-h3 {
    font-size: 3em;
    text-align: center;
}

.arrow-text {
    margin-top: 100px;
    font-size: 3.5em;
}

.main-container-fieldset__arrow {
    margin-top: 100px;
    width: 600px;
    height: 150px;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
}
.main-container-fieldset__arrow:hover {
    margin-top: 150px;
    width: 500px;
    height: 150px;
    cursor: pointer;
}

/*--------------Работа с таблицами---------------*/
.main-container-table {
    display: block;
    width: 28%;
    border-collapse: collapse;
    padding: 10px;
    float: left;
}

.table-row {
    border: solid #0da5f3 5px;
    padding: 10px 5px;

}

.table-cell {
    border: solid #0da5f3 5px;
    font-weight: 800;
    text-align: center;
    padding: 10px 5px;
    font-size: 2.5em;
    height: 2em;
}

.table-header {
    text-align: center;
    font-size: 3em;
}

.first-column {
    width: 15%;
}

.second-column {
    width: 15%;
}

.third-column {
    width: 7%;
}

.fourth-column {
    width: 7%;
}

.fifth-column {
    width: 15%;
}

.sixth-column {
    width: 41%;
}

.action-menu {
    margin: 0;
    padding: 10px;
}

.action-menu__item {
    color: #0da5f3;
    font-size: 1.2em;
    display: block;
    float: left;
    margin-left: 10px;
}
.to-do-menu__item:hover {
    color: black;
    cursor: pointer;
}


.action-menu__item-link {
    color: #0da5f3;
    text-decoration: none;
}
.action-menu__item-link:hover {
    color: black;
}

/*-----------Формы и кнопки------------*/
.button {
    background-color: #0da5f3;
    border: solid #0da5f3 1px;
    border-radius: 10px;
    font-size: 2em;
    font-weight: 500;
    color: white;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.main-container-fieldset__checkbox {
    width: 60px;
    height: 60px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.main-container-fieldset__button-form {
    width: 99%;
    display: block;
}

.add-button {
    width: 200px;
    height: 50px;
    display: block;
    float: right;
}
.hide-button {
    width: 200px;
    height: 50px;
    margin: 2px;
}
.status-button {
    border: none;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.change-button {
    margin: 2px;
    width: 200px;
    height: 80px;
    font-size: 1.6em;
}
.field-action-button {
    width: 30%;
    height: 100%;
    font-size: 1em;
}
.alter-button {
    width: 400px;
    height: 90px;
    display: block;
    float: right;
    margin: 10px;
    font-size: 2.2em;
}

.main-container-fieldset__input-text {
    width: 900px;
    height: 70px;
    border: solid #0da5f3 1px;
    border-radius: 10px;
    font-size: 2em;
    padding: 10px;
    margin: 10px;
}

.main-container-fieldset__input-text__into-table {
    width: 735px;
    height: 80px;
    border: solid #0da5f3 1px;
    border-radius: 10px;
    font-size: 1.6em;
}

/*------Работа с блоком добавления таблицы-----*/
.main-container-form__add-table {
    display: block;
    width: 100%;
    height: 50px;
}
.main-container-fieldset__add-form-hidden {
    margin-left: 1%;
    display: block;
    float: left;
    visibility: hidden;
}

.main-container-fieldset__add-form-visible {
    margin-left: 1%;
    display: block;
    float: left;
    visibility: visible;
}

/*---------Работа со стрелочками-----------------*/
.sort-arrow {
    width: 45px;
    height: 45px;
    margin-left: 15px;
}

/*---------------Работа с Admin-----------------*/
.main-container-admin {
    display: block;
    float: right;
    width: 68%;
    border: solid #0da5f3 3px;
    margin: 10px;
}

.main-container-admin__header {
    height: 100px;
}

.main-container-admin__content {

}

.table-admin {
    width: 98%;
    font-size: 1.4em;
}

/*--------Страница Add----------*/
.main-container-table__input {
    width: 90%;
    height: 100%;
    border: solid #0da5f3 1px;
    border-radius: 10px;
    font-size: 1em;
}

.main-container__create-table {
    width: 500px;
    height: 50px;
    border: solid #0da5f3 1px;
    border-radius: 10px;
    font-size: 1.5em;
}

.first-column_add {
    width: 30%;
}

.second-column_add {
    width: 15%;
}

.third-column_add {
    width: 15%;
}

.fourth-column_add {
    width: 5%;
}

.fifth-column_add {
    width: 5%;
}

.sixth-column_add {
    width: 30%;
}

.add-field-button {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}

